body{
    font-family: "Montserrat";
}

#title {
    background-color: #FF4C68;
    color: white;
}

h1 {  
    font-family: 'Montserrat', sans-serif;  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.container-fluid{
    padding: 3% 15%;
}

.rotate {
    background-color: transparent;
    outline: 2px dashed;
    transform: rotate(45deg);
}

/* Navbar */

.navbar{
    padding:0 0  4.5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Monsterserrat";
    font-weight: 100;
}

.download-button{
    margin:5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}

.icon{
    color:#EF8172;
    margin-bottom:1rem;
}
.icon:hover{
    color: #ff4c68;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #EF8172;
    color: #fff;
}

h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #EF8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}